.background {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.to-page {
    position: absolute;
    display: inline-block;
    width: 50vw;
    height: 21.67vh;
}

.header,
.book-meeting,
.time-management,
.about {
    left: 0;
}

.events,
.problem-solving,
.settings {
    left: 50vw;
}

.header {
    top: 0;
    width: 100vw;
    height: 35vh;
}

.news {
    top: 21vh;
    left: 13vw;
    height: 10vh;
    width: 74vw;
}

.news p {
    margin: 0;
    font-family: arial;
    font-size: 1em;
    color: #4D4D4D;
}

.book-meeting,
.events {
    top: 35vh;
}

.time-management,
.problem-solving {
    top: 56.67vh;
}

.about,
.comments {
    top: 78.34vh;
}
